/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .table {
    border-collapse: collapse;
  }

  .table th, td {
    border: 1px solid #8ab4eb;
  }

  .table th {
    font-size: 1.25rem;
  }

  .table td {
    font-size: 1.15rem;
  }
}